{
    "printWidth": 80,            
    "tabWidth": 2,              
    "useTabs": false,            
    "semi": true,                
    "singleQuote": false,         
    "jsxSingleQuote": false,     
    "quoteProps": "preserve",   
    "jsxBracketSameLine": false, 
    "trailingComma": "none",    
    "bracketSpacing": true,      
    "arrowParens": "always",  
    "endOfLine": "auto"         
}